* {font-family: Verdana;}
.nav a:link, a:visited {text-decoration: none;
  list-style-type:none;
  color: #737373;}
.nav {list-style-type: none;
  text-align: right;}
.nav li {display: inline;
  padding: 10px;}
.nav img {width: 4%;}

/*.nav {list-style-type: none;
  text-align: right;}*/

.logo {text-align: center;
  margin: 10px;
  padding: 50px;}

.search-input {width: 500px;
  height: 35px;}

.google-search {border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #737373;
  padding: 10px;
  margin-top: 10px;}

.google-search:hover {}

.feeling-lucky {border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #737373;
  padding: 10px;}

.feeling-lucky:hover {}

.footer {background-color: #f2f2f2;
  list-style-type: none;}
.footer a:link, a:visited {text-decoration: none;
  color: #737373;}
.footer li {display: inline;
  padding: 10px;
  margin: 10px;}
.footer-left {text-align: left;}

.footer-right {text-align: right;}
